<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() < 992) {
            $("#aerateIndexLeft").insertAfter($("#aerateIndexRight"));
        }
    });
</script>
<h3>
    智能通风中心 <span id="houseName"></span>
    <div class="float-right" ng-controller="aerateBarController">
        <div class="btn-group pc-show">
            <a type="button" ng-repeat="item in menus" ng-href="{{item.sref}}" class="btn btn-labeled bg-green mr">
               <span class="btn-label">
                   <i class="{{item.icon}}"></i>
               </span>
                {{item.text}}
            </a>
        </div>
        <!-- 移动端 begin-->
        <div class="pull-right mobile-show">
            <div dropdown="" class="btn-group">
                <button type="button" dropdown-toggle="" class="btn btn-default">查看更多
                    <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                    <li ng-repeat="item in menus">
                        <a ng-href="{{item.sref}}"><em class="{{item.icon}}"></em> {{item.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 移动端 end-->
    </div>
</h3>
<div class="container-fluid" ng-controller="aerateController">
    <form class="form-horizontal">
        <div class="form-group">
            <!--<label class="col-lg-1 control-label">开始时间</label>-->
            <div class="col-lg-2">
                <div class="input-group date" id="starttime" data-date-format="yyyy-MM-dd">
                    <input class="form-control" placeholder="开始时间" type="text" ng-model="starttime">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
            </div>
            <!--<label class="col-lg-1 control-label">结束时间</label>-->
            <div class="col-lg-2">
                <div class="input-group date" id="endtime" data-date-format="yyyy-MM-dd">
                    <input class="form-control" placeholder="结束时间" type="text" ng-model="endtime">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
            </div>
            <div class="col-lg-2">
                <button type="button" title="搜索" ng-click="toDateSerach()" class="btn btn-primary pull-left mb">
                    <em class="icon-magnifier fa-fw mr-sm"></em>搜索
                </button>
            </div>
        </div>
    </form>
    <div class="row mb-lg">
        <div id="aerateIndexLeft" class="col-lg-9">
            <!--温度图表信息-高度必填 begin-->
            <div class="col-lg-6 pl0 mb" ng-controller="tempController">
                <rzhecharts id="tempCharts" rid="tempCharts" option="temp_option" height="320"></rzhecharts>
            </div>
            <!--温度图表信息 end-->
            <!--湿度图表信息-高度必填 begin-->
            <div class="col-lg-6 pr0 mb" ng-controller="humrityController">
                <rzhecharts id="humrityCharts" rid="humrityCharts" option="humrity_option" height="320"></rzhecharts>
            </div>
            <!--湿度图表信息 end-->
            <div class="clear"></div>
            <!--检测信息 begin-->
            <!--<div class="panel panel-default mt b0">-->
                <!--<div class="bg-F0F8FF">-->
                    <!--<div class="panel-title p"><em class="fa fa-gears"></em> 检测信息</div>-->
                <!--</div>-->
                <!--<div class="list-group bg-F0F8FF clear">-->
                    <!--<form class="form-horizontal p-20 ng-pristine ng-valid">-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"> </div>-->
                            <!--<div class="col-sm-3 lh40"><strong>当前数值</strong></div>-->
                            <!--<div class="col-sm-3 lh40"><strong>标准数值</strong></div>-->
                            <!--<div class="col-sm-3 lh40"><strong>对比结果</strong></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"><strong>仓外温</strong></div>-->
                            <!--<div class="col-sm-3 lh40">9°C</div>-->
                            <!--<div class="col-sm-3 lh40">-30°C ~ 50°C</div>-->
                            <!--<div class="col-sm-3 lh40"><em class="fa fa-long-arrow-up text-danger"/></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"><strong>仓内温</strong></div>-->
                            <!--<div class="col-sm-3 lh40">38°C</div>-->
                            <!--<div class="col-sm-3 lh40">0°C ~ 50°C</div>-->
                            <!--<div class="col-sm-3 lh40"><em class="fa fa-check text-success"/></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"><strong>粮堆均温</strong></div>-->
                            <!--<div class="col-sm-3 lh40">25°C</div>-->
                            <!--<div class="col-sm-3 lh40">10°C ~ 55°C</div>-->
                            <!--<div class="col-sm-3 lh40"><em class="fa fa-check text-success"/></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"><strong>仓外湿</strong></div>-->
                            <!--<div class="col-sm-3 lh40">21%</div>-->
                            <!--<div class="col-sm-3 lh40">5% ~ 85%</div>-->
                            <!--<div class="col-sm-3 lh40"><em class="fa fa-check text-success"/></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"><strong>仓内湿</strong></div>-->
                            <!--<div class="col-sm-3 lh40">3%</div>-->
                            <!--<div class="col-sm-3 lh40">15% ~ 25%</div>-->
                            <!--<div class="col-sm-3 lh40"><em class="fa fa-long-arrow-down text-danger"/></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-3 lh40"><strong>粮堆均湿</strong></div>-->
                            <!--<div class="col-sm-3 lh40">20%</div>-->
                            <!--<div class="col-sm-3 lh40">10% ~ 30%</div>-->
                            <!--<div class="col-sm-3 lh40"><em class="fa fa-check text-success"/></div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            <!--检测信息 end-->
            <!--通风中数据 begin-->
            <!--<div class="panel panel-default mt b0">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="panel-title float-left"><em class="fa fa-newspaper-o"></em> 通风中</div>-->
                    <!--<div class="float-right">-->
                        <!--<a ng-click="getAerateOverInfo()" class="btn btn-success"><em class="fa fa-download"></em> 获取数据</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="list-group panel-heading ml mr" style="clear: both">-->
                    <!--<form class="form-horizontal p-20 ng-pristine ng-valid">-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-1 lh40"> </div>-->
                            <!--<div class="col-sm-2 lh40"><strong>仓内温</strong></div>-->
                            <!--<div class="col-sm-2 lh40"><strong>仓外温</strong></div>-->
                            <!--<div class="col-sm-2 lh40"><strong>粮堆平均温</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>仓内湿</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>仓外湿</strong></div>-->
                            <!--<div class="col-sm-2 lh40"><strong>粮堆平均湿</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>通风方式</strong></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-1 lh40"><strong>结果</strong></div>-->
                            <!--<div class="col-sm-2 lh40">34°C</div>-->
                            <!--<div class="col-sm-2 lh40">22°C</div>-->
                            <!--<div class="col-sm-2 lh40">29°C</div>-->
                            <!--<div class="col-sm-1 lh40">16%</div>-->
                            <!--<div class="col-sm-1 lh40">26%</div>-->
                            <!--<div class="col-sm-2 lh40">15%</div>-->
                            <!--<div class="col-sm-1 lh40">单侧通风</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            <!--通风中数据 end-->
            <!--通风后数据 begin-->
            <!--<div class="panel panel-default mt b0">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="panel-title float-left"><em class="fa fa-newspaper-o"></em> 通风后</div>-->
                    <!--<div class="float-right">-->
                        <!--<a ng-click="getAerateOverInfo()" class="btn btn-success"><em class="fa fa-download"></em> 获取数据</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="list-group panel-heading ml mr" style="clear: both">-->
                    <!--<form class="form-horizontal p-20 ng-pristine ng-valid">-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-1 lh40"> </div>-->
                            <!--<div class="col-sm-1 lh40"><strong>仓内温</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>仓外温</strong></div>-->
                            <!--<div class="col-sm-2 lh40"><strong>粮堆平均温</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>仓内湿</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>仓外湿</strong></div>-->
                            <!--<div class="col-sm-2 lh40"><strong>粮堆平均湿</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>通风方式</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>通风时长</strong></div>-->
                            <!--<div class="col-sm-1 lh40"><strong>经费</strong></div>-->
                        <!--</div>-->
                        <!--<div class="form-group bb ml0 mr0 mb0">-->
                            <!--<div class="col-sm-1 lh40"><strong>结果</strong></div>-->
                            <!--<div class="col-sm-1 lh40">32°C</div>-->
                            <!--<div class="col-sm-1 lh40">20°C</div>-->
                            <!--<div class="col-sm-2 lh40">28°C</div>-->
                            <!--<div class="col-sm-1 lh40">15%</div>-->
                            <!--<div class="col-sm-1 lh40">23%</div>-->
                            <!--<div class="col-sm-2 lh40">13%</div>-->
                            <!--<div class="col-sm-1 lh40">单侧通风</div>-->
                            <!--<div class="col-sm-1 lh40">2H</div>-->
                            <!--<div class="col-sm-1 lh40">￥289</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            <!--通风后数据 end-->
        </div>
        <div id="aerateIndexRight" class="col-lg-3">
            <!--仓房信息 begin-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><em class="fa fa-newspaper-o"></em> 仓房信息</div>
                    <hr class="mt mb0"/>
                </div>
                <div class="list-group panel-heading clear" id="all_house">
                    <button type="button" ng-repeat="item in houseItems" ng-click="houseInspectionInfo(item.code,item.label,$event)" class="btn btn-default grain-c-w23">
                        {{item.label}}
                    </button>
                </div>
                <div class="clear"></div>
                <div class="panel-footer clearfix text-muted">
                    <small>注：点击查看对应仓房信息</small>
                </div>
            </div>
            <!--仓房信息 end-->
            <!--智能检测判断 begin-->
            <!--<div class="panel panel-default b0">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="panel-title"><em class="fa fa-newspaper-o"></em> 智能检测结果</div>-->
                    <!--<hr class="mt mb0"/>-->
                <!--</div>-->
                <!--<div class="list-group panel-heading" style="clear: both">-->
                    <!--<form class="form-horizontal p-20">-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-3 pr0">当前库：</div>-->
                            <!--<div class="col-sm-3 pr0">-->
                                <!--{{houseInfo.housename}}-->
                            <!--</div>-->
                            <!--<div class="col-sm-3 pr0">库容量：</div>-->
                            <!--<div class="col-sm-3 pr0">-->
                                <!--{{houseInfo.confirmcapacity}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-3 pr0">仓类型：</div>-->
                            <!--<div class="col-sm-3 pr0">-->
                                <!--{{houseInfo.typename}}-->
                            <!--</div>-->
                            <!--<div class="col-sm-3 pr0">负责人：</div>-->
                            <!--<div class="col-sm-3 pr0">-->
                                <!--{{houseInfo.keeper}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-3 pr0">结果：</div>-->
                            <!--<div class="col-sm-9 pr0">-->
                                <!--温度过高，建议通风-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-12 pr0">智能推荐：</div>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--&lt;!&ndash; 推荐通风模型 begin&ndash;&gt;-->
                    <!--<div class="panel b">-->
                        <!--<div class="panel-body">-->
                            <!--<div class="row row-table">-->
                                <!--<div class="col-xs-5 text-center">-->
                                    <!--<img src="app/img/aerate/aerate.jpg" alt="Image" class="img-thumbnail img-circle img-responsive thumb96" />-->
                                <!--</div>-->
                                <!--<div class="col-xs-7">-->
                                    <!--<div class="pull-right">-->
                                        <!--<a ng-click="aerateApply()" class="btn btn-success">申请</a>-->
                                    <!--</div>-->
                                    <!--<h3 class="mt0">侧面通风</h3>-->
                                    <!--<p class="text-muted">条件：仓内温过高,仓内湿过低</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; 推荐通风模型 end&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--智能检测判断 begin-->
            <!--更多方式 begin-->
            <div class="panel widget">
                <div class="panel-body">
                    <div class="row row-table">
                        <div class="col-xs-3 text-center pr0 pl0">
                            <em class="fa fa-file-text-o fa-2x"></em>
                        </div>
                        <div class="col-xs-5 text-center">
                            更多方式
                        </div>
                        <div class="col-xs-4">
                            <a ng-click="moreAerateType()" class="btn btn-purple">
                                <em class="fa fa-hand-o-right"></em>
                                <span>选择</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--开窗 -->
            <div class="panel widget">
                <div class="panel-body">
                    <div class="row row-table">
                        <div class="col-xs-3 text-center pr0 pl0">
                            <em class="fa fa-file-text-o fa-2x"></em>
                        </div>
                        <div class="col-xs-5 text-center">
                            开窗通风
                        </div>
                        <div class="col-xs-4">
                            <a ng-click="openWindow()" class="btn btn-purple">
                                <em class="fa fa-hand-o-right"></em>
                                <span>选择</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--更多方式 end-->
        </div>
    </div>
</div>

