<h3 id="topBar">
    <span id="houseName"></span>&nbsp;<span id="inspectionTime"></span>
</h3>
<div class="panel panel-default" ng-controller="aircondViewController">
    <div class="panel-heading">气调信息详情</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p class="lead bb">仓房信息</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">所属粮库:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.orgname}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">仓房:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.housename}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">储粮品种:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.varietyname}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">储粮等级:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.gradename}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">储粮数量:</div>
                        <div class="col-sm-8">
                            <div class="label label-info">{{aircondInfo.grainnum}}T</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="lead bb">气调信息</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">气调模式:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.mode}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">开始时间:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.starttime}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">结束时间:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.endtime}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">使用时长:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.timelength}}</strong>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="lead bb">气调前气体浓度</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">氧气</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.beforeoxygenconcentration}}ppm</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">二氧化碳:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.beforeco2concentration}}ppm</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">磷化氢:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.beforephosphineconcentration}}ppm</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">氮气:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.beforenitrogenconcentration}}ppm</strong>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="lead bb">气调后气体浓度</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">氧气</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.afteroxygenconcentration}}ppm</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">二氧化碳:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.afterco2concentration}}ppm</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">磷化氢:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.afterphosphineconcentration}}ppm</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">氮气:</div>
                        <div class="col-sm-8">
                            <strong>{{aircondInfo.afternitrogenconcentration}}ppm</strong>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert alert-success">
            <em class="fa fa-check-circle fa-lg fa-fw"></em>
            作业状态：{{aircondInfo.workstate}}
        </div>
    </div>
</div>
