<div class="well" ng-controller="viewDvrController">
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备序号：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.no}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备编码：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrcode}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备名称：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrname}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备别名：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvraliasname}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备类型：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrtypename}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备厂商：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrmanufacturer}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备型号：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrmodel}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备序列号：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrserial}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6"  >
            <div class="well">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备IP：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrip}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备端口号：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrport}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">子网掩码：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.subnetmask}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">网关地址：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.gateway}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">登录代码：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrlogincode}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">登录密码：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrloginpassword}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">设备详情：</label>
                        <div class="col-lg-6">
                            <strong>{{dvrInfo.dvrinfo}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
