<style>
    body {
        min-width: 1200px;
        /*background-color: #ffffff;*/

    }
    .btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
        position: absolute;
        margin-top: 30px;
    }
    .ruku{
        position: absolute;
        margin-top: 30px;
        margin-left:50px;
    }
    .chuku{
        position: absolute;
        margin-top: 450px;
        margin-left:50px;
    }

</style>
<h3>智能出入库</h3>
<div ng-controller="outinController">
    <div class="row">
        <h4 class="ruku">入库流程</h4>
        <div class="btn1" style="margin-left:150px;margin-top:54px;">
            <a href="#outin/cardregistration">
                <img src="app/img/outin/rk1.png" alt="Image"/>
            </a>
        </div>
        <div class="btn2" style=" margin-left:369px;margin-top:65px">
            <a href="#outin/sampling">
                <img src="app/img/outin/rk2.png" alt="Image"/>
            </a>
        </div>
        <div class="btn2" style=" margin-left:582px;margin-top:69px">
            <a href="#outin/qualitytesting">
                <img src="app/img/outin/rk3.png" alt="Image"/>
            </a>
        </div>
        <div class="btn3" style=" margin-left:790px;margin-top:70px">
            <a href="#outin/grossweight">
                <img src="app/img/outin/rk4.png" alt="Image"/>
            </a>
        </div>
        <div class="btn4" style=" margin-left:816px;margin-top:250px">
            <a href="#outin/store">
                <img src="app/img/outin/rk5.png" alt="Image"/>
            </a>
        </div>
        <div class="btn5" style=" margin-left:565px;margin-top:250px">
            <a href="#outin/tareweight">
                <img src="app/img/outin/rk6.png" alt="Image"/>
            </a>
        </div>
        <div class="btn6" style=" margin-left:361px;margin-top:250px">
            <a href="#outin/settlement">
                <img src="app/img/outin/rk7.png" alt="Image"/>
            </a>
        </div>
        <div class="btn7" style=" margin-left:180px;margin-top:250px">
            <a href="#outin/xiaoka_chuku">
                <img src="app/img/outin/rk8.png" alt="Image"/>
            </a>
        </div>
    </div>

    <div class="row">
        <h4 class="chuku">出库流程</h4>
        <div class="btn1" style="margin-left:25px;margin-top:505px;">
            <a href="#outin/cardregistration">
                <img src="app/img/outin/ck1.png" alt="Image"/>
            </a>
        </div>
        <div class="btn2" style=" margin-left:308px;margin-top:505px">
            <a href="#outin/tareweight">
                <img src="app/img/outin/ck2.png" alt="Image"/>
            </a>
        </div>
        <div class="btn3" style=" margin-left:565px;margin-top:505px">
            <a href="#outin/store">
                <img src="app/img/outin/ck3.png" alt="Image"/>
            </a>
        </div>
        <div class="btn4" style=" margin-left:815px;margin-top:505px">
            <a href="#outin/grossweight">
                <img src="app/img/outin/ck4.png" alt="Image"/>
            </a>
        </div>
        <div class="btn5" style=" margin-left:1050px;margin-top:505px">
            <a href="#outin/settlement">
                <img src="app/img/outin/ck41.png" alt="Image"/>
            </a>
        </div>
        <div class="btn6" style=" margin-left:1250px;margin-top:505px">
            <a href="#outin/xiaoka_chuku">
                <img src="app/img/outin/ck5.png" alt="Image"/>
            </a>
        </div>
    </div>
</div>
