<style>
    body {
        min-width: 1200px;
    }
    .btn1 {
        position: absolute;
        margin-top: 30px;
    }
    .ruku{
        position: absolute;
        margin-top: 30px;
        margin-left:50px;
    }
    .chuku{
        position: absolute;
        /*margin-top:300px;*/
        margin-left:50px;
    }

</style>
<h3>智能出库</h3>
<div ng-controller="outinController">
<!--    <div class="row">-->
<!--        <h4 class="ruku">入库流程</h4>-->
<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:50px;margin-top:75px">-->
<!--            <a href="#outin/cardregistration?data=1" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow1.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">领卡登记</div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:180px;margin-top:75px">-->
<!--            <a href="#outin/sampling" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow2.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">入库扦样</div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:310px;margin-top:75px">-->
<!--            <a href="#outin/qualitytesting" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow3.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">质量检验</div>-->
<!--            </a>-->
<!--        </div>-->


<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:440px;margin-top:75px">-->
<!--            <a href="#outin/grossweight" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow4.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">毛斤检重</div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:570px;margin-top:75px">-->
<!--            <a href="#outin/store" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow5.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">值仓入仓</div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:700px;margin-top:75px">-->
<!--            <a href="#outin/tareweight" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow6.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">回皮检斤</div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:830px;margin-top:75px">-->
<!--            <a href="#outin/settlement" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow7.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">业务结算</div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="btn1" style="width: 105px;height: 120px;margin-left:960px;margin-top:75px">-->
<!--            <a href="#outin/xiaoka_chuku" style="text-decoration: none">-->
<!--                <div  class="img-flow-div" >-->
<!--                    <img src="../../../flow8.png" alt="" style="height: 90px;width: 103px;"></div>-->
<!--                <div  class="flow-div">销卡出库</div>-->
<!--            </a>-->
<!--        </div>-->

<!--    </div>-->

        <div class="row">
            <h4 class="chuku">出库流程</h4>
            <div class="btn1" style="width: 105px;height: 120px;margin-left:50px;margin-top:50px">
                <a href="#outin/cardregistration" style="text-decoration: none">
                    <div  class="img-flow-div" >
                        <img src="../../../flow1.png" alt="" style="height: 90px;width: 103px;"></div>
                    <div  class="flow-div">领卡登记</div>
                </a>
            </div>

            <div class="btn1" style="width: 105px;height: 120px;margin-left:205px;margin-top:50px">
                <a href="#outin/tareweight" style="text-decoration: none">
                    <div  class="img-flow-div" >
                        <img src="../../../flow6.png" alt="" style="height: 90px;width: 103px;"></div>
                    <div  class="flow-div">空车称重</div>
                </a>
            </div>

            <div class="btn1" style="width: 105px;height: 120px;margin-left:360px;margin-top:50px">
                <a href="#outin/store" style="text-decoration: none">
                    <div  class="img-flow-div" >
                        <img src="../../../flow5.png" alt="" style="height: 90px;width: 103px;"></div>
                    <div  class="flow-div">值仓入仓</div>
                </a>
            </div>
            <div class="btn1" style="width: 105px;height: 120px;margin-left:510px;margin-top:50px">
                <a href="#outin/grossweight" style="text-decoration: none">
                    <div  class="img-flow-div" >
                        <img src="../../../flow4.png" alt="" style="height: 90px;width: 103px;"></div>
                    <div  class="flow-div">满载称重</div>
                </a>
            </div>
            <div class="btn1" style="width: 105px;height: 120px;margin-left:665px;margin-top:50px">
                <a href="#outin/settlement" style="text-decoration: none">
                    <div  class="img-flow-div" >
                        <img src="../../../flow7.png" alt="" style="height: 90px;width: 103px;"></div>
                    <div  class="flow-div">业务结算</div>
                </a>
            </div>
            <div class="btn1" style="width: 105px;height: 120px;margin-left:820px;margin-top:50px">
                <a href="#outin/xiaoka_chuku" style="text-decoration: none">
                    <div  class="img-flow-div" >
                        <img src="../../../flow8.png" alt="" style="height: 90px;width: 103px;"></div>
                    <div  class="flow-div">销卡出户</div>
                </a>
            </div>
        </div>
</div>
