<script type="text/javascript">
    function resizeHit(){
        $("#bg_img").height($(window).height());
    }
    $(document).ready(function () {
        window.onresize = resizeHit;  //每次屏幕大小发生变化，自动重新加载
        resizeHit();
    })//设置背景图片高度
</script>
<div ng-controller="indexPageController">
    <!-- top navbar-->
    <header ng-include="'app/views/partials/top-navbar.html'" class="topnavbar-wrapper"></header>
    <div id="index-c-info">
        <div class="contect_main">
            <div class="distribution-map" style="position: relative;">
                <!--晴天卡片-->
                <!--天气面板--start-->
                <div class="card-qxz" ng-show="weather.typea">
                    <div style="text-align: center;">
                        <span style="font-size: 20px;"></span> &nbsp;&nbsp;<span>{{weather.createtime}}</span>
                        <br><br>
                        <div class="card-one">
                            <h1>{{weather.wd}}°</h1>
                        </div>
                        <div class="card-two">
                            <p>湿度:{{weather.sd}}</p>
                            <p>风速:{{weather.fs}}</p>
                            <p>气压:{{weather.qy}}</p>
                            <p>雨感:{{weather.yg}}</p>
                        </div>
                    </div>
                </div>
                <!--天气面板--end-->
                <img src="app/img/index/Main_Content.jpg" id="bg_img" />
                <img
                        class="map-point" src="app/img/index/10.png" style="top: 44%; left: 50%"
                        onclick="studyShowModalDialog('10')"
                        ng-mouseover="show(this,'mydiv2','10');"
                        onMouseOut="hide(this,'mydiv2')" id="green14"/>
                <img
                        class="map-point" src="app/img/index/09.png" style="top: 59%; left: 89%"
                        onclick="studyShowModalDialog('9')"
                        ng-mouseover="show(this,'mydiv2','9');"
                        onMouseOut="hide(this,'mydiv2')" id="green15"/>
                <img
                        class="map-point" src="app/img/index/08.png" style="top: 59%; left: 69%"
                        onclick="studyShowModalDialog('8')"
                        ng-mouseover="show(this,'mydiv2','8');"
                        onMouseOut="hide(this,'mydiv2')" id="green16"/>
                <img
                        class="map-point" src="app/img/index/07.png" style="top: 59%; left: 49%"
                        onclick="studyShowModalDialog('7')"
                        ng-mouseover="show(this,'mydiv2','7');"
                        onMouseOut="hide(this,'mydiv2')" id="green17"/>
                <img
                        class="map-point" src="app/img/index/06.png" style="top: 21%; left: 31%"
                        onclick="studyShowModalDialog('6')"
                        ng-mouseover="show(this,'mydiv2','6');"
                        onMouseOut="hide(this,'mydiv2')" id="green18"/>
                <img
                        class="map-point" src="app/img/index/05.png" style="top: 21%; left: 17%"
                        onclick="studyShowModalDialog('5')"
                        ng-mouseover="show(this,'mydiv2','5');"
                        onMouseOut="hide(this,'mydiv2')" id="green19"/>
                <img
                        class="map-point" src="app/img/index/04.png" style="top: 29%; left: 29%"
                        onclick="studyShowModalDialog('4')"
                        ng-mouseover="show(this,'mydiv2','4');"
                        onMouseOut="hide(this,'mydiv2')" id="green20"/>
                <img
                        class="map-point" src="app/img/index/03.png" style="top: 29%; left: 15%"
                        onclick="studyShowModalDialog('3')"
                        ng-mouseover="show(this,'mydiv2','3');"
                        onMouseOut="hide(this,'mydiv2')" id="green21"/>
                <img
                        class="map-point" src="app/img/index/02.png" style="top: 41%; left: 27%"
                        onclick="studyShowModalDialog('2')"
                        ng-mouseover="show(this,'mydiv2','2');"
                        onMouseOut="hide(this,'mydiv2')" id="green22"/>
                <img
                        class="map-point" src="app/img/index/01.png" style="top: 41%; left: 12%"
                        onclick="studyShowModalDialog('1')"
                        ng-mouseover="show(this,'mydiv2','1');"
                        onMouseOut="hide(this,'mydiv2')" id="green23"/>

                <img
                        class="map-point" src="app/img/index/11.png" style="top: 44%; left: 67%"
                        onclick="studyShowModalDialog('11')"
                        ng-mouseover="show(this,'mydiv2','11');"
                        onMouseOut="hide(this,'mydiv2')" id="green37"/>
                <img
                        class="map-point" src="app/img/index/12.png" style="top: 44%; left: 82%"
                        onclick="studyShowModalDialog('12')"
                        ng-mouseover="show(this,'mydiv2','12');"
                        onMouseOut="hide(this,'mydiv2')" id="green38"/>
                <img
                        class="map-point" src="app/img/index/13.png" style="top: 32%; left: 50%"
                        onclick="studyShowModalDialog('13')"
                        ng-mouseover="show(this,'mydiv2','13');"
                        onMouseOut="hide(this,'mydiv2')" id="green39"/>
                <img
                        class="map-point" src="app/img/index/14.png" style="top: 32%; left: 70%"
                        onclick="studyShowModalDialog('14')"
                        ng-mouseover="show(this,'mydiv2','14');"
                        onMouseOut="hide(this,'mydiv2')" id="green40"/>
                <img
                        class="map-point" src="app/img/index/15.png" style="top: 22%; left: 50%"
                        onclick="studyShowModalDialog('15')"
                        ng-mouseover="show(this,'mydiv2','15');"
                        onMouseOut="hide(this,'mydiv2')" id="green41"/>
                <img
                        class="map-point" src="app/img/index/16.png" style="top: 22%; left: 64%"
                        onclick="studyShowModalDialog('16')"
                        ng-mouseover="show(this,'mydiv2','16');"
                        onMouseOut="hide(this,'mydiv2')" id="green42"/>
                <img
                        class="map-point" src="app/img/index/17.png" style="top: 14%; left: 50%"
                        onclick="studyShowModalDialog('17')"
                        ng-mouseover="show(this,'mydiv2','17');"
                        onMouseOut="hide(this,'mydiv2')" id="green43"/>
                <img
                        class="map-point" src="app/img/index/18.png" style="top: 14%; left: 63%"
                        onclick="studyShowModalDialog('18')"
                        ng-mouseover="show(this,'mydiv2','18');"
                        onMouseOut="hide(this,'mydiv2')" id="green44"/>
            </div>
        </div>
        <div id="mydiv2"
             style="position: absolute; display: none; border: 2px solid silver; background:#62c462; width: 180px;font-family:arial; border-radius: 10px;">
            <ul class="list-unstyled">
                <li style="padding-top:4px;"><strong>
                    &nbsp;&nbsp;编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号&nbsp;&nbsp;：<span
                        id="ch"></span> </strong></li>
                <li style="padding-top:4px;"><strong>&nbsp;&nbsp;仓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容&nbsp;&nbsp;：<span
                        id="cr"></span></strong>
                </li>
                <li style="padding-top:4px;"><strong>
                    &nbsp;&nbsp;仓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温&nbsp;&nbsp;：<span
                        id="wendu"></span>° </strong>
                </li>
                <li id="tishi" style="padding-top:4px"><strong>
                    &nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;示&nbsp;&nbsp;：<span
                        id="wendutishi"></span></strong>
                </li>
                <li style="padding-top:4px;"><strong>
                    &nbsp;&nbsp;仓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湿&nbsp;&nbsp;：<span
                        id="cs"></span></strong></li>
                <li style="padding-top:4px;"><strong>&nbsp;&nbsp;负&nbsp;&nbsp;责&nbsp;&nbsp;人&nbsp;：<span
                        id="mz"></span></strong></li>
                <li style="padding-top:4px;"><strong>&nbsp;&nbsp;联系电话&nbsp;：<span
                        id="dh"></span></strong></li>
            </ul>
        </div>
    </div>
    <!-- Page footer-->
    <footer style="margin-left: 0;z-index: 111;" ng-include="'app/views/partials/footer.html'"></footer>
</div>
